.banner{
    background-image: url(./360_F_401909523_qpLIL4uXNQ5BTJCHv26gLkULRWHKCyNt.jpg);
    background-size: 100% 100%;
}
.heading{
    font-family:-apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:600;
}
.aboutDesc{
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#00458B;
    line-height: 150%;
}
.skills{
    width:100%;
    position: relative;
    color:white;
  }
  .skills li{
    margin-left:10%;
    margin-right:10%;
    margin-top: 2%;
  }
  .header{
    font-family: -apple-system,'Open Sans', 'Helvetica Neue', sans-serif ;
    color: midnightblue;
    font-weight:normal;
    margin-top: 3%;
  }
  .bar{
    background:transparent;
    display:block;
    height:10px;
    overflow: hidden;
    box-shadow: 0 0 10px #3FD2C7;
  }
  .bar span{
    height:10px;
    float: left;
    background:#3FD2C7;
  }
  .htmlcss{
    width: 80%;
    animation: html 3s;
  }
  @keyframes html{
    0%{ 
      width:0%;
    }
    100%{
      width:80%;
    }
  }
  .python{
    width: 85%;
    animation: python 3s;
  }
  @keyframes python{
    0%{ 
      width:0%;
    }
    100%{
      width:90%;
    }
  }
  .nppd{
    width:85%;
    animation: nppd 3s;
  }
  @keyframes nppd{
    0%{ 
      width:0%;
    }
    100%{
      width:95%;
    }
  }
  .c{
    width:40%;
    animation: c 3s;
  }
  @keyframes c{
    0%{ 
      width:0%;
    }
    100%{
      width:40%;
    }
  }
  .snsMpl{
    width:75%;
    animation: snsMpl 3s;
  }
  @keyframes snsMpl{
    0%{ 
        width:0%;
      }
      100%{
        width:75%;
      }
  }
  .section{
    border-bottom: 2px solid #3FD2C7; 
  }