
@media only screen and (min-width: 960px) {
  .navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
  }
  .navbar {
    padding: 0;
  }
  .navbar .navbar-brand {
    padding: 0 0.7em;
  }
}
.navbar .navbar-brand {
  font-family: 'Consolas';
  font-size: 24px;
  font-weight: 600;
  color:#00458B; 
}
.navbar .navbar-nav .nav-link{
  position: relative; 
  color:#00458B;
  font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-left: 3vw;
  margin-right: 3vw;
}
.navbar .navbar-nav .btn { 
  position: relative;
  color:white;
  background-color: #3FD2C7;
  border-color:#3FD2C7;
  border-width: 5px;
  font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight:600;
  margin-left: 3vw;
  margin-right: 3vw;
}
.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #00458B;
  color: transparent;
  width: 0%;
  content: '';
  height: 3px;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}
.custom-toggler.navbar-toggler {
  border-color: #3FD2C7;
}
.custom-toggler .navbar-toggler-icon {
  background-image:url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(63,210,199, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar {
  background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.8));
}
.customBtn{
  height: 75%;
}